<template>
    <div class="row">
        <div class="col-8">
            <div class="card card-default">
                <div class="card-header">Messages</div>
                <div class="card-body p-0">
                    <ul
                        class="list-unstyled"
                        style="height:300px; overflow-y:scroll"
                        v-chat-scroll
                    >
                        <li
                            class="p-2"
                            v-for="(message, index) in messages"
                            :key="index"
                        >
                            <strong>{{ message.user.name }}</strong>
                            {{ message.message }}
                        </li>
                    </ul>
                </div>

                <input
                    @keydown="sendTypingEvent"
                    @keyup.enter="sendMessage"
                    v-model="newMessage"
                    type="text"
                    name="message"
                    placeholder="Enter your message..."
                    class="form-control"
                />
            </div>
            <span class="text-muted" v-if="activeUser"
                >{{ activeUser.name }} is typing...</span
            >
        </div>

        <div class="col-4">
            <div class="card card-default">
                <div class="card-header">Active Users</div>
                <div class="card-body">
                    <ul>
                        <li 
                        class="py-2" 
                        v-for="(user, index) in users" 
                        :key="index"
                        >
                            {{ user.name }}
                            {{ user.id }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    props:['user'],

    data() {
        return {
            messages: [],
            newMessage: '',
            thisUser: [],
            users:[],
            activeUser: false,
            typingTimer: false,
        }
    },

    created() {
        this.fetchMessages();
        this.fetchUsers();

        Echo.join('privatechat.'+this.user.id)
            .here(user => {
                this.users = user;
            })
            .joining(user => {
                this.users.push(user);
            })
            .leaving(user => {
                this.users = this.users.filter(u => u.id != user.id);
            })
            .listen('PrivateMessageSent',(event) => {
                this.messages.push(event.message);
            })
            .listenForWhisper('typing', user => {
               this.activeUser = user;

                if(this.typingTimer) {
                    clearTimeout(this.typingTimer);
                }

               this.typingTimer = setTimeout(() => {
                   this.activeUser = false;
               }, 3000);
            })

    },

    watch: {
        thisUser(val){
            this.fetchMessages();
        },
    },

    methods: {
        fetchMessages() {
            axios.get('private/messages/'+this.thisUser).then(response => {
                this.messages = response.data;
            })
        },

        sendMessage() {

            this.messages.push({
                user: this.user,
                message: this.newMessage,
                to_id: this.thisUser,
            });

            axios.post('private/messages/'+this.thisUser, {message: this.newMessage});

            this.newMessage = '';
        },

        fetchUsers() {
            axios.get('users').then(response => {
                this.users = response.data;
            })
        },

        sendTypingEvent() {
            Echo.join('chat')
                .whisper('typing', this.user);
        }
    }
}
</script>
